body{
    padding: 0;
    margin: 0;
    background-color:#fff;
}
.navbar1 {
  
background-color: #080808;
color: #fff;
height: 80px;
display: flex;
justify-content: space-between;
align-items: center;
}
.logo img {
width: 400px ;
height:80px;

margin-left: 20px;
border-radius: 0px 30px 0px 30px;
}
.search{
display: left;
}
.input{
width: 300px;
height: 20px;
border-radius: 50%;
}
.search1{
height: 28px;
width: 100px;
margin-left: 10px;
border-radius: 50%;
}
.menu {
padding: 20px;
display: flex;
margin: 20px;
justify-content: space-around;
font-style: italic;
font-size: 20px;
}
.menus{
text-decoration: none;
color: #fff;
font-weight: bold;
margin: 10px;
padding: 10px;

}
.menus:hover{
border: 1px solid white;
height: auto;
width: auto;
box-shadow: #f5f5f5 0px 0px 5px 2px;
transition: 0.5s;
border-radius: 30px;
text-align: center;
background-color: rgb(71, 67, 67);
padding: -20px;
}
.search input {
padding: 5px;
border: none;
border-radius: 3px;
}

.search button {
background-color: #e74c3c;
color: #fff;
border: none;
border-radius: 3px;
padding: 5px 10px;
cursor: pointer;
}
.search button:hover{
border: 1px solid white;
height: auto;
width: 100px;
box-shadow: #f5f5f5 0px 0px 5px 2px;
transition: 0.5s;
border-radius: 30px;
text-align: center;
background-color: rgb(238, 89, 89);

}

      .contact-container{
            display: flex;
            flex-wrap: wrap;
        } 
        .contact-title{
            font-size: 20px;
            color: gray;
        }

        .name-field{
            width: 800px;
            height: 25px;
            border: 3px solid gainsboro;
margin-top: 15px;
 
        }
        .email-field{
            width: 700px;
            height: 30px;
            border: 3px solid gainsboro;
margin-top: 15px;
}
        .verify-btn{
            background-color: red;
           color: white;
            text-align: center;
            border: 1px solid maroon;
            height: 45px;
            margin: 5px;
            padding: 5px 10px;
         }
        .address-field{ width: 800px;
            height: 60px;
            border: 3px solid gainsboro;
margin-top: 15px;}
.select-menu{
    width: 810px;
    height: 30px;
    border: 3px solid gainsboro;
    margin-top: 15px;
}
.summit-btn{
    font-size: 20px;
    display: block;
    background-color:green;
           color: white;
            text-align: center;
            border: 1px solid rgb(8, 39, 8);
            height: 35px;
            width: 150px;
           margin-left: auto;
           margin-right: auto;
           margin-top: 30px;
            padding: 5px 10px;
            border-radius: 10px;
            margin-bottom: 20px;
}
.summit-btn:hover{
    border: 1px solid black;
height: auto;
width: 100px;
box-shadow: #f5f5f5 0px 0px 5px 2px;
transition: 0.2s;
border-radius: 30px;
text-align: center;
background-color:black;
}
 
.info-container{
    display: flex;
    flex-wrap: wrap;
}    
.img{
    width: 400px;
    height: 500px;
    align-items: center;
    margin-top: 40px;
    margin-left: 70px;
}
footer {
background-color: rgb(52, 48, 48);
padding: 40px 0;
color: #f8f5f5;
text-align: center;
font-family: cursive;
}

.footer-container {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
max-width: 100%;
margin: opx auto;
height: 250px;
}
.logo2{
margin-top: -20px;
height: auto;
width: auto;
}

.footer-column {
width: 265px;
  
}
 
h3 {
font-size: 21px;
margin-bottom: 15px;
color: #f4f1f1;
}

p {
font-size: 14px;
line-height: 1.5;
}

ul {
list-style: none;
padding: 0;
}

ul li a {
color: #fcfafa;
text-decoration: none;
font-size: 17px;
transition: color 0.3s ease;
margin-bottom: 10px;
}

ul li a:hover {
color: #f31212;
}

.social-icons {
display: block;
justify-items: center;
margin-left: auto;
margin-right: auto;
margin-top: 20px;

}
 .social-icons li {
margin: 0 8px;

}
.fa {
font-size: 30px;
}
.footer-icon{
    height: 40px;
}
  
@media only screen and (min-width: 601px) and (max-width: 800px){
       
        
        .input{
        width: 200px;
        height: 20px;
        }
         
        .search1{
        height: 20px;
        width: 100px;
        margin-left: 5px;
         
        }
        .menu {
        padding: 20px;
        display: flex;
        margin: 20px;
        justify-content: space-around;
        font-style: italic;
        font-size: 20px;
        }
        .menus{
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        margin: 10px;
        padding: 10px;
        
        }
        .menus:hover{
        border: 1px solid white;
        height: auto;
        width: auto;
        box-shadow: #f5f5f5 0px 0px 5px 2px;
        transition: 0.5s;
        border-radius: 30px;
        text-align: center;
        background-color: rgb(71, 67, 67);
        padding: -20px;
        }
        .search input {
        padding: 5px;
        border: none;
        border-radius: 3px;
        }
        
        .search button {
        background-color: #e74c3c;
        color: #fff;
        border: none;
        border-radius: 3px;
        padding: 5px 10px;
        cursor: pointer;
        }
        .search button:hover{
         
        height: auto;
        width: 100px;
        }
         

        .name-field{
            width: 500px;
            height: 20px;
        margin-top: 10px;
 }
        .email-field{
            width: 400px;
            height: 25px;
        margin-top: 10px;
}
        .verify-btn{
            height: 35px;
             }
        .address-field{ width: 500px;
            height: 40px;
            margin-top: 10px;}
.select-menu{
    width: 510px;
    height: 20px;
    margin-top: 10px;
}
.summit-btn{
    font-size: 15px;
    height: 30px;
    width: 125px;
    }  
     
    .img{
        width: 200px;
        height: 250px;
    margin-top: 20px;
        margin-left: 35px;
    } 
    .contact-title{
        font-size: 15px;
    }  
    /*footer {
        
        padding: 40px 0;
       display: flex;
       flex-direction: column;
        text-align: center;
     
        }
        
        .footer-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        max-width: 100%;
        margin: 0px auto;
        height: 150px;
        }
        .logo2{
             
        margin-top: 10px;
        height:70px;
        width: 100px;
        }
        
        .footer-column {
        width: auto;
    padding: 0px;
    margin-left: 5px;
    margin-right: 5px;
          display: flex;
          flex-direction: column;
        }
        
        h3 {
        font-size: 10px;
        margin-bottom: 0px;
        
        }
        
        p {
        font-size: 10px;
         
        }
        
        ul {
        list-style: none;
        padding: 0;
        }
        
        ul li a {
         
        font-size: 10px;
         
        
        }
         .social-icons {
         width: 10px;
        
        }
         .social-icons li {
            width: 10px;
        margin: 0 8px;
        
        }
        .fa {
        font-size: 20px;
        } 
        .footer-icon{
            height: 20px;
        }  
        .about-p{
            width: 100px;
        }
      }*/


 

@media (max-width: 786px)
{
    .navbar1 {
  height: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        }
     .logo img {
        width:120px ;
        height:60px ;
         }
    .input{
        width: 100px;
        height: 10px;
        margin-bottom: 0px;
        margin-left: 20px;
         }
         .search{
            display: flex;
            flex-wrap: wrap;
            margin: 1px;
         }
        .search1{
        height: 20px;
        width: 60px;
        margin-right: -10px;
         
         }
        .menu {
        padding: 5px;
        display:flex;
        flex-wrap: wrap;
        height: 8px;
        margin-top: 5px;
        margin-right: 30px;
        justify-content: space-around;
        font-size: 15px;
         
        }
        .menus{
            margin-right: 50px;
        margin-top:-10px;
        margin-bottom: 10px;
        padding: 5px;
        
        
        }
        .menus:hover{
        border: 1px solid white;
        height: auto;
        width: auto;
        box-shadow: #f5f5f5 0px 0px 5px 2px;
        transition: 0.5s;
        border-radius: 30px;
        text-align: center;
        background-color: rgb(71, 67, 67);
        padding: -20px;
        }
        .search input {
            width: 110px;
            margin-right:90px;
            margin-top:10px;
            margin-bottom: 10px;
            padding: 5px;
            margin-left: 0px;
        
        }
        
        .search button {
            margin-top:10px;
     padding: 5px 10px;
      margin-right: 170px;
        margin-left: -60px ;
        }
        .search button:hover{
         width: 70px;
        }
        .name-field{
            width: 250px;
            height: 15px;
        margin-top: 10px;
 }
        .email-field{
            width: 200px;
            height: 25px;
        margin-top: 10px;
}
        .verify-btn{
            height: 35px;
            width: 45px;
             }
        .address-field{ width: 250px;
            height: 30px;
            margin-top: 10px;}
.select-menu{
    width: 260px;
    height: 20px;
    margin-top: 10px;
}
.summit-btn{
    align-items: left;
    font-size: 15px;
    height: 30px;
    width: 125px;
    margin-left: 25px;
    }  
    .img{
        width: 200px;
        height: 250px;
    margin-top: 20px;
        margin-left: 35px;
    }  
    .contact-title {
        font-size: 12px;
    }            
              
}
@media only screen and (min-width: 801px) and (max-width: 1400px){
    .logo img {
        width: 300px ;
         
        
        margin-left: 15px;
         
        }
    .search input {
        padding: 5px;
         
        border-radius: 3px;
        }
        
        .search button {

        background-color: #e74c3c;
        color: #fff;
        border: none;
        border-radius: 3px;
        padding: 5px 10px;

        cursor: pointer;
        }
        .search button:hover{
        border: 1px solid white;
        height: auto;
        width: 80px;
        box-shadow: #f5f5f5 0px 0px 5px 2px;
        transition: 0.5s;
        border-radius: 30px;
        text-align: center;
        background-color: rgb(238, 89, 89);
        
        }
        .input{
            width: 150px;
             
            margin-left: 5px;
             }
              
            .search1{
            height: 30px;
            width: 60px;
            margin-right: 10px;
             
             }
             
        .menu {
            padding: 20px;
            display: flex;
            margin: 20px;
            justify-content: space-around;
            font-style: italic;
            font-size: 20px;
            }
            .menus{
             
             font-size: 15px;
            margin: 10px;
            padding: 10px;
            
            }
            .footer-column {
                width: 100%;
                background-color: rgb(52, 48, 48); 
              }
            /*footer {
        
                padding: 40px 0;
               display: flex;
               flex-direction: column;
                text-align: center;
             
                }
                
                .footer-container {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: space-evenly;
                max-width: 100%;
                margin: 0px auto;
                height: 150px;
                }
                .logo2{
                     
                margin-top: 10px;
                height:70px;
                width: 100px;
                }
                
                .footer-column {
                width: auto;
            padding: 0px;
            margin-left: 5px;
            margin-right: 5px;
                  display: flex;
                  flex-direction: column;
                }
                
                h3 {
                font-size: 10px;
                margin-bottom: 0px;
                
                }
                
                p {
                font-size: 10px;
                 
                }
                
                ul {
                list-style: none;
                padding: 0;
                }
                
                ul li a {
                 
                font-size: 10px;
                 
                
                }
                 .social-icons {
                 width: 10px;
                
                }
                 .social-icons li {
                    width: 10px;
                margin: 0 8px;
                
                }
                .fa {
                font-size: 20px;
                } 
                .footer-icon{
                    height: 20px;
                }  
                .about-p{
                    width: 100px;
                }*/
              }
            }
            @media screen and (max-width: 768px) {
                .footer-column {
                  width: 100%;
                  background-color: rgb(52, 48, 48); 
                }
              }
             
 