.heading {
    font-family: Calibri, sans-serif;
    font-size: 45px;
    color: red;
    margin: 20px;
    text-align: left;
}


body {
    font-family: Arial, sans-serif;
    background-color:  #808080;
    margin: 0;
    padding: 0;

}

.container {
    width: 340px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 15px;
    background-color: #fff;
    border-radius: 20px;
    border-top:  9px solid #595959;
    border-bottom: 2px solid #595959;
    border-left: 2px solid #595959;
    border-right: 2px solid #595959;
    box-shadow: 5px 7px 2px 1px #595959;
}

.label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 15px;

}

.username {
    width: 325px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid black;
}

.password {
    width: 325px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid black;
}

.register-btn {
    width: 136px;
    padding: 14px;
    background-color: #8c8c8c;
    color: black;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;


}

.register-btn:hover {
    background-color: #cc7a00;
}

.message {
    text-align: center;
    margin-top: 20px;
    text-decoration: none;

}

.login {
    text-decoration: none;
}