body{
    padding: 0;
    margin: 0;
    background-color:#fff;
    color: white;
    text-decoration: none;

}
.navbar1 {
  
background-color: #080808;
height: 80px;
display: flex;
justify-content: space-between;
align-items: center;
color: white;
text-decoration: none;

}
.logo img {
width: 400px ;
height:80px;

margin-left: 20px;
border-radius: 0px 30px 0px 30px;
}
.search{
    display: left;
    }
    .input{
    width: 350px;
    height: 30px;
    border-radius: 50%;
    }
    .search1{
    height: 35px;
    width: 100px;
    margin-left: 10px;
    border-radius: 50%;
    }

.store-name {
font-size: 24px;
font-weight: bold;
}

.menu ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
color: white;
text-decoration: none;
}

.menu {
padding: 20px;
display: flex;
margin: 20px;
justify-content: space-around;
font-size:Sans-serif;
font-size: 25px;
color: white;
text-decoration: none;
}

.menus:hover{
border: 1px solid white;
height: auto;
width: auto;
box-shadow: #f5f5f5 0px 0px 5px 2px;
transition: 0.5s;
border-radius: 10px;
text-align: center;
background-color: rgb(122, 112, 112);
padding: -20px;
}
.menus{
text-decoration: none;
color: #fff;
font-weight: bold;
margin: 10px;
padding: 10px;

}

.search input {
padding: 5px;
border: none;
border-radius: 3px;
}

.search button {
background-color: #e74c3c;
color: #fff;
border: none;
border-radius: 3px;
padding: 5px 10px;
cursor: pointer;
}
.search button:hover{
border: 1px solid white;
height: auto;
width: 100px;
box-shadow: #f5f5f5 0px 0px 2px 2px;
transition: 0.5s;
border-radius: 5px;
text-align: center;
background-color: rgb(238, 89, 89);

}
.navbar2 {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size:Sans-serif ;
    height: 50px;
    font-weight: 100;
    font-size: 20px;

  }
  

  .navbar2 a {
    color: #333;
    text-decoration: none;
    font-family: cursive;
  }

  
  .navbar2 a:hover{
    border-radius: 15px 0 15px 0;
    padding: 3px;
   background: linear-gradient(rgb(3, 43, 51), rgb(12, 12, 12));
    color: rgb(240, 239, 240);
    border: 2px solid rgb(239, 234, 234);
  }

.navbar a.active {
  border: 2px solid rgb(246, 241, 241);
  border-radius: 15px 0 15px 0;
  padding: 3px;
  box-shadow: 4px 3px rgb(246, 246, 248);
  background-color: black;
  color: white;
  }


.menu {
margin-top: 10px;
color: white;
text-decoration: none;
}

.menu ul {
flex-direction: column;
color: white;
text-decoration: none;

}

.menu ul li {
margin-right: 0;
margin-bottom: 10px;
color: white;
text-decoration: none;

}
.shop-img{
    height: 600px;
    width: 850px;
    text-align: left;
}

.header-container{
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 10px;
    color: white;
    text-decoration: none;


}

.header-title{
    font-size: 40px;
    color: black;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
}

.header-description{
    font-size: 35px;
    text-align: center;
    color: #080808;
}

.header-explore-btn{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    background-color:rgb(12, 12, 12) ;   
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: auto;
    cursor: pointer;


}
.header-explore-btn:hover{
    background-color: black;
    box-shadow: 0 0 5px 2px gray;
    padding: 7px 25px;
    transition: 0.5s;
}
.our-feature-heading{
    font-size: 50px;
    color: black;
    text-align: center;
    margin-top: 50px;
}

.feature-card{
    width: 300px;
    height: 300px;
    background-color:rgb(59, 56, 56) ;
    padding: 10px;
    border: 3px solid black;
    margin: 50px;
    border-radius: 5px 30px 5px 30px;
    box-shadow: 0 0 10px white;
    position: relative;
    margin-bottom: 100px;
}

.ico-feature{
    font-size: 50px;
    position: absolute;
    top: -45px;
    left: 90px;
    background-color: #fff;
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px 30px 5px 30px;
    color: gray;
    width: 70px;
    text-align: center;
}

.feature-title{
    text-align: center;
    margin-top: 30px;
    color: white;
    font-size: 22px;
}

.feature-description{
    text-align: center;
    font-size: 25px;
    color: white;
}

.feature-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.our-book-heading{
    text-align: center;
}

.book-title{
                font-size: 40px;
                background-color: black;
                color:white;
                text-align: center;
                margin-bottom: 70px;
            }
            .book-card{
                background-color: rgb(59, 56, 56);
                width: 240px;
                padding: 5px 20px;
                border: 3px solid black;
                margin: 5px;
                border-radius: 5px 30px 5px 30px;
                box-shadow: 0  0 10px black;
                margin-bottom: 50px;
        
            }
            .book-card:hover{
                background-color:rgb(97, 93, 93);
                cursor: pointer;
                border-radius:10px black;
                box-shadow: 0 0 10px black ;
            }
            .book-card-img{
                height: 200px;
                width:250px ;
                display: block;
                margin: 5px auto;
                
                
            }
            
            .book-card-title{
                text-align: center;
               color: white;
                 font-size: 30px;
                    }
                    .book-card-price{
                        text-align: center;
                        color:white;
                        font-size: 25px;
                    }
                    .book-description{
                        text-align: center;
                        color: white;
                        font-size: 25px;
                    }
                    .Buy-now-btn{
                        background-color: white;
                        color: black;
                        font-size: 18px;
                        font-weight: bold;
                        padding: 5px 20px;
                        border: solid;
                        border-radius: 15px;
                        cursor: pointer;
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 8px ;
                    }
                    .Buy-now-btn:hover{
                        background-color:rgb(185, 38, 38);
                        box-shadow: 0 0 5px 2px #fff;
                        padding: 7px 25px;
                       transition: 0.5s;
                        
                    }
                         .book-container-1{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-around;
                         }
                         


.footer {
background-color: rgb(52, 48, 48);
padding: 40px 0;
color: #f8f5f5;
text-align: center;
font-family: cursive;
}

.footer-container {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
background-color: #3e3f3e;
max-width: 100%;
margin: 0 auto;
height: 300px;
width: max-content;

}
.logo2{
margin-top: 10px;
margin-right: 10px;
margin-right: 10px;
height: 250px;
width: 250;
}

.footer-column {
width: 300px;
margin-bottom: 10px;
min-width: max: 100%;
}

h3 {
font-size: 30px;
margin-bottom: 15px;
color: #f4f1f1;
}

p {
font-size: 18px;
line-height: 1.5;
color: #fff;
margin-top: 5PX;
}

ul {
list-style: none;
padding: 0;
}

ul li a {
color: #fcfafa;
text-decoration: none;
font-size: 20px;
transition: color 0.3s ease;
margin-bottom: 10px;
margin-top: 10px;
}

ul li a:hover {
color: #f31212;
}

.social-icons {
display: block;
justify-items: center;
margin-left: auto;
margin-right: auto;
margin-top: 20px;

}


.social-icons li {
margin: 0 8px;

}

.fa {
font-size: 30px;

}




@media screen and (max-width: 768px) {
.footer-column {
width: 100%;
}
}



@media only screen and (max-width: 600px){
    .logo img {
        width: 250px ;
        height:40px;
        margin-left: 130px;
    }
    .navbar1{
        display: flex;
        flex-wrap: wrap;
        height: 150px;
        padding: 20px;
    }
    .menu{
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .search{
        margin-left: auto;
        margin-right: auto;
    }
    .navbar2{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        font-size:Sans-serif ;
        height: 90px;
        font-weight: 50px;
        font-size: 20px;
        padding: 15px;
    }
    .shop-img{
        height: 300px;
        width: 450px;
        margin: 20px;
    }
    .header-title{
        font-size: 20px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .header-description{
        font-size: 25px;
    }
    .header-explore-btn{
        font-size: 20px;
        margin-left: 200px;
    }
    .our-feature-heading{
        font-size: 35px;
    }
    .feature-container{
        display: flex;
        flex-wrap: wrap;
    }
    .feature-card{
        height: 280px;
    }
    .customers-review-heading{
        font-size: 40px;
    }
    .review-card{
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-container{
        height: 180vh;
        display: flex;
        flex-wrap: wrap;
    }
    .logo2{
        height: 200px;
    }
    .footer-column{
        display: block;
        text-align: center;
    }
}

@media only screen and (min-width: 601px) and (max-width: 800px){
.navbar-menu-container{
margin-top: 20px;
margin-left: auto;
margin-right: auto;
}
.header-explore-btn{
font-size: 15px;
display: block;
margin-left: auto;
margin-right: auto;
}
.feature-container{
display: flex;
flex-wrap: wrap;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1400px){
    .feature-container{
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 768px) {
    .footer-column {
      width: 100%;
      background-color: rgb(52, 48, 48); 
    }
  }

 

 