body{
    padding: 0;
    margin: 0;
    background-color:#fff;
}
.navbar1 {
background-color: #080808;
color: #fff;
height: 80px;
display: flex;
justify-content: space-between;
align-items: center;
}
.logo img {
width: 400px ;
height:80px;

margin-left: 20px;
border-radius: 0px 30px 0px 30px;
}
.search{
display: left;
}
.input{
width: 300px;
height: 20px;
border-radius: 50%;
}
.search1{
height: 28px;
width: 100px;
margin-left: 10px;
border-radius: 50%;
}

.store-name {
font-size: 24px;
font-weight: bold;
}

.menu ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
}

.menu {
padding: 20px;
display: flex;
margin: 20px;
justify-content: space-around;
font-style: italic;
font-size: 20px;
}
.menus:hover{
border: 1px solid white;
height: auto;
width: auto;
box-shadow: #f5f5f5 0px 0px 5px 2px;
transition: 0.5s;
border-radius: 30px;
text-align: center;
background-color: rgb(71, 67, 67);
padding: -20px;
}
.menus{
text-decoration: none;
color: #fff;
font-weight: bold;
margin: 10px;
padding: 10px;

}

.search input {
padding: 5px;
border: none;
border-radius: 3px;
}

.search button {
background-color: #e74c3c;
color: #fff;
border: none;
border-radius: 3px;
padding: 5px 10px;
cursor: pointer;
}
.search button:hover{
border: 1px solid white;
height: auto;
width: 100px;
box-shadow: #f5f5f5 0px 0px 5px 2px;
transition: 0.5s;
border-radius: 30px;
text-align: center;
background-color: rgb(238, 89, 89);

}
.navbar2 {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size:Sans-serif ;
    height: 50px;
    font-weight: 100;
    font-size: 20px;

  }
  

  .navbar2 a {
    color: #333;
    text-decoration: none;
    font-family: cursive;
  }

  
  .navbar2 a:hover{
    border-radius: 15px 0 15px 0;
    padding: 3px;
   background: linear-gradient(rgb(11, 107, 126), rgb(12, 12, 12));
    color: rgb(240, 239, 240);
    border: 2px solid rgb(239, 234, 234);
  }

.navbar a.active {
  border: 2px solid rgb(246, 241, 241);
  border-radius: 15px 0 15px 0;
  padding: 3px;
  box-shadow: 4px 3px rgb(246, 246, 248);
  background-color: black;
  color: white;
  }

/* Media query for responsive design */
@media (max-width: 768px) {
.container {
flex-direction: column;
}

.menu {
margin-top: 10px;
}

.menu ul {
flex-direction: column;
}

.menu ul li {
margin-right: 0;
margin-bottom: 10px;
}
}
.shop-img{
    height: 600px;
    width: 850px;
    margin: 20px;
}

.header-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.header-title{
    font-size: 35px;
    color: black;
    text-align: center;
    margin-left: 240px;
    margin-right: 240px;
}

.header-description{
    font-size: 30px;
    text-align: center;
}

.header-explore-btn{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color:rgb(12, 12, 12) ;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: white;
    margin-top: 30px;
    margin-left: 660px;
    cursor: pointer;
}
.header-explore-btn:hover{
    background-color: black;
    box-shadow: 0 0 5px 2px gray;
    padding: 7px 25px;
    transition: 0.5s;
}
.our-feature-heading{
    font-size: 50px;
    color: black;
    text-align: center;
    margin-top: 50px;
}

.feature-card{
    width: 300px;
    height: 380px;
    background-color:rgb(59, 56, 56) ;
    padding: 10px;
    margin: 50px;
    border-radius: 15px;
    box-shadow: 0 0 10px white;
    position: relative;
}

.ico-feature{
    font-size: 50px;
    position: absolute;
    top: -45px;
    left: 90px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    color: gray;
    width: 70px;
    text-align: center;
}

.feature-title{
    text-align: center;
    color: white;
    font-size: 22px;
}

.feature-description{
    text-align: center;
    font-size: 25px;
    color: white;
}

.feature-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}



.customers-review-heading{
    font-size: 50px;
    color: black;
    text-align: center;
    margin-top: 50px;
}

.review-card{
    background-color: gray;
    width: 300px;
    padding: 20px 40px;
    margin: 20px;
    border-width: 10px;
    border-radius: 10px;
    border-color: black;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.customer-image{
    width: 250px;
    display: block;
    margin: 5px auto;
}

.customer-name{
    text-align: center;
    color: black;
    font-size: 25px;
}
.customer-review{
    font-size: 25px;
    text-align: center;
}

.customers-review-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;</br></br>
}
.footer {
background-color: rgb(52, 48, 48);
padding: 40px 0;
color: #f8f5f5;
text-align: center;
font-family: cursive;
}

.footer-container {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
background-color: #3e3f3e;
max-width: 100%;
margin: 0 auto;
height: 300px;

}
.logo2{
margin-top: 10px;
margin-right: 10px;
margin-right: 10px;
height: 250px;
width: 250;
}

.footer-column {
width: 265px;
/* margin-bottom: 10px; */
}

h3 {
font-size: 21px;
margin-bottom: 15px;
color: #f4f1f1;
}

p {
font-size: 14px;
line-height: 1.5;
}

ul {
list-style: none;
padding: 0;
}

ul li a {
color: #fcfafa;
text-decoration: none;
font-size: 17px;
transition: color 0.3s ease;
margin-bottom: 10px;
}

ul li a:hover {
color: #f31212;
}

.social-icons {
display: block;
justify-items: center;
margin-left: auto;
margin-right: auto;
margin-top: 20px;

}


.social-icons li {
margin: 0 8px;

}

.fa {
font-size: 30px;

}



@media screen and (max-width: 768px) {
.footer-column {
width: 100%;
}
}



@media only screen and (max-width: 600px){
.navbar-menu-container{
margin-left: auto;
margin-right: auto;
}

.navbar{
flex-direction: column;
}
.navbar-menu{
display: block;
margin: 10px;
width: 100%;
text-align: center;
}

.shop-img{
width: 250px;
}

.header-title{
font-size: 30px;
}
.header-description{
font-size: 20px;
}
.header-explore-btn{
font-size: 15px;
display: block;
margin-left: auto;
margin-right: auto;
}
.feature-container{
display: flex;
flex-wrap: wrap;
}
}

@media only screen and (min-width: 601px) and (max-width: 800px){
.navbar-menu-container{
margin-top: 20px;
margin-left: auto;
margin-right: auto;
}
.header-explore-btn{
font-size: 15px;
display: block;
margin-left: auto;
margin-right: auto;
}
.feature-container{
display: flex;
flex-wrap: wrap;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1400px){
    .feature-container{
        display: flex;
        flex-wrap: wrap;
    }
}

 

 