body{
    padding: 0;
    margin: 0;
    background-color:#e5e5e5;
}
.navbar1 {
  
background-color: #080808;
color: #fff;
height: 80px;
display: flex;
justify-content: space-between;
align-items: center;
}
.logo img {
width: 400px ;
height:80px;

margin-left: 20px;
border-radius: 0px 30px 0px 30px;
}
.search{
    display: left;
    }
    .input{
    width: 350px;
    height: 30px;
    border-radius: 50%;
    }
    .search1{
    height: 35px;
    width: 100px;
    margin-left: 10px;
    border-radius: 50%;
    }

.store-name {
font-size: 24px;
font-weight: bold;
}

.menu ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
text-decoration: none;
}

.menu {
padding: 20px;
display: flex;
margin: 20px;
justify-content: space-around;
font-size:Sans-serif;
color: #fff;
font-size: 25px;
text-decoration: none;
}
.menus:hover{
border: 1px solid white;
height: auto;
width: auto;
box-shadow: #f5f5f5 0px 0px 5px 2px;
transition: 0.5s;
border-radius: 10px;
text-align: center;
background-color: rgb(122, 112, 112);
padding: -20px;
}
.menus{
text-decoration: none;
color: #fff;
font-weight: bold;
margin: 10px;
padding: 10px;

}

.search input {
padding: 5px;
border: none;
border-radius: 3px;
}

.search button {
background-color: #e74c3c;
color: #fff;
border: none;
border-radius: 3px;
padding: 5px 10px;
cursor: pointer;
}
.search button:hover{
border: 1px solid white;
height: auto;
width: 100px;
box-shadow: #f5f5f5 0px 0px 2px 2px;
transition: 0.5s;
border-radius: 5px;
text-align: center;
background-color: rgb(238, 89, 89);

}
.navbar2 {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size:Sans-serif ;
    height: 50px;
    font-weight: 100;
    font-size: 20px;

  }
  

  .navbar2 a {
    color: #333;
    text-decoration: none;
    font-family: cursive;
  }

  
  .navbar2 a:hover{
    border-radius: 15px 0 15px 0;
    padding: 3px;
   background: linear-gradient(rgb(3, 43, 51), rgb(12, 12, 12));
    color: rgb(240, 239, 240);
    border: 2px solid rgb(239, 234, 234);
  }

.navbar a.active {
  border: 2px solid rgb(246, 241, 241);
  border-radius: 15px 0 15px 0;
  padding: 3px;
  box-shadow: 4px 3px rgb(246, 246, 248);
  background-color: black;
  color: white;
  }

.our-book-heading{
    text-align: center;
}

.book-title{
                font-size: 40px;
                color:black;
                margin-top: 50px;
                margin-bottom: 70px;
                margin-left: 20px;
                margin-left: 40px;
            }
            .book-card{
                background-color:transparent ;
                width: 240px;
                padding: 20px 40px;
                margin: 10px;
                margin-bottom: 100px;
                border-radius: 5px 30px 5px 30px;
                box-shadow: 0  0 20px black;
                 border: 3px solid black;
        
            }
            .book-card:hover{
                background-color:rgb(97, 93, 93);
                cursor: pointer;
                border-radius:10px black;
                box-shadow: 0 0 10px black ;
            }
            .book-card-img{
                height: 200px;
                width:250px ;
                display: block;
                margin: 5px auto;
                
                
            }
            
            .book-card-title{
                text-align: center;
               color: black;
                 font-size: 30px;
                    }
                    .book-card-price{
                        text-align: center;
                        color:black;
                        font-size: 25px;
                    }
                    .book-description{
                        text-align: center;
                        color: black;
                        font-size: 25px;
                    }
                    .Buy-now-btn{
                        background-color: white;
                        color: black;
                        font-size: 18px;
                        font-weight: bold;
                        padding: 5px 20px;
                        border: solid;
                        border-radius: 15px;
                        margin-top: 10px;
                        cursor: pointer;
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    .Buy-now-btn:hover{
                        background-color:rgb(240, 69, 69);
                        box-shadow: 0 0 5px 2px #fff;
                        padding: 7px 25px;
                       transition: 0.5s;
                        
                    }
                         .book-container-1{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-around;
                         }
  footer {
    background-color: rgb(52, 48, 48);
    padding: 40px 0;
    width: 100%;
    color: #f8f5f5;
    text-align: center;
    font-family: cursive;
    
    }
    
    .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100%;
    margin: 0px auto;
    height: 250px;
    }
    .logo2{
    margin-top: -20px;
    height: auto;
    width: auto;
    }
    
    .footer-column {
    width: 265px;
      
    }
     
    h3 {
    font-size: 21px;
    margin-bottom: 15px;
    color: #f4f1f1;
    }
    
    p {
    font-size: 14px;
    line-height: 1.5;
    }
    
    ul {
    list-style: none;
    padding: 0;
    }
    
    ul li a {
    color: #fcfafa;
    text-decoration: none;
    font-size: 17px;
    transition: color 0.3s ease;
    margin-bottom: 10px;
    }
    
    ul li a:hover {
    color: #f31212;
    }
    
    .social-icons {
    display: block;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    
    }
     .social-icons li {
    margin: 0 8px;
    
    }
    .fa {
    font-size: 30px;
    }
    .footer-icon{
        height: 40px;
    }
                            
                            
                            
                            
                            